@import '../../styles/setting';

.k-tag-wrapper {
  display: flex;
  gap:10px;
  margin-top: 10px;
}

.k-tag {
  width: 120px;
  height: 25px;
  background-color: $red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 415px) {
  .k-tag {
    width: 90px;
    height: 18px;
    font-size: 0.8rem;
  }
}