@import '../../styles/setting';

.k-location-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: center;
  padding: 55px;
  gap: 5rem;
  background-color: $gray;
  border-radius: 25px;
  width: 86.25%;
  height: auto;
}

@media screen and (max-width: 415px) {
  .k-location-list-wrapper {
    background-color: white;
    padding: 0;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 100%;
    justify-items: center;
  }
}