@import '../../styles/setting';

.k-collapse-container {
  width: 86.25%;
  padding: 0 7.5% 0 7.5%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 415px) {
  .k-collapse-container {
    width: 90%;
    padding: 0;

  }
  
}
