@import '../../styles/setting';

.k-location-wrapper {
  max-width: 1240px;
  width: 100%;
}

.k-location-infos{
  display: flex;
  justify-content: space-between;
}


.k-location-right {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.k-location-retail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.k-location-description {
  width: 47%;
}

.k-location-equipements {
  width: 47%;
}