@import '../../styles/setting';

.k-host-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.k-host-name {
  // font-size: 1.8rem;
  font-size: clamp(1rem, 2.2vw, 1.8rem);
  text-align: end;
  padding-right: 10px;
}

.k-host-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: gray;
}

@media screen and (max-width: 415px) {
  .k-host-wrapper {
    margin-top: 1rem;
  
  }
  
  .k-host-img {
    width: 32px;
    height: 32px;
  }
}