@import '../../styles/setting';

.k-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86.25%;
  margin-bottom: 2.5%;
}

.k-nav-links {
  display: flex;
  gap: clamp(2rem, 5vw, 6rem);
  font-size: clamp(1.2rem, 3vw, 2.4rem)
}

.k-nav-links a {
  color: $red;
}

.k-logo {
  width: clamp(145px, 20vw, 211px);
}

.k-nav-links a.active {
  text-decoration: none;
}

@media screen and (max-width: 415px) {
  .k-nav-container {
    width: 90%;
    margin-bottom: 20px;
  }

  .k-nav-links {
    text-transform: uppercase;
  }
}

