@import '../../styles/setting';

.k-footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.k-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 209px;
  width: 100%;
  max-width: 1440px;
  background-color: black;
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 2.4rem)
}

@media screen and (max-width: 415px) {
  .k-footer-copyright {
   width: 40%;
   text-align: center;
  }
}


