@import '../../styles/setting';

.k-name-location {
  margin-top: 20px;
  line-height: 40px;
}
.k-name-location h2, h3 {
  font-weight: 500;
}

.k-name-location h2 {
  font-size: 3.6rem;
}
.k-name-location h3 {
  font-size: 1.8;
}