@import '../../styles/setting';

.k-banner-container {
  position: relative;
  width: 86.25%;
  height: clamp(111px, 20vw, 223px);
  margin-bottom: 2.5%;
  overflow: hidden;
}

.k-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  border-radius: 25px;  
  object-fit: cover;
}

.k-banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  white-space: nowrap;
  font-size: clamp(2rem, 4.6vw, 5rem);
}

@media screen and (max-width: 415px) {
  .k-banner-container {
    width: 90%;
    margin-bottom: 20px;
  }

  .k-banner-img {
    border-radius: 10px; 
  }

  .k-banner-title {
    white-space: normal;
    left: 40%;
    width: 189px;
  transform: translate(-50%, -50%);
  }
}