@import '../../styles/setting';

.k-banner-container {
  position: relative;
  width: 100%;
  height: clamp(111px, 20vw, 223px);
  max-width: 1240px;
  margin-bottom: 30px;
  min-width: 335px;
}

.k-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  border-radius: 25px;  
  object-fit: cover;
}

.k-banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  white-space: nowrap;
  font-size: clamp(2.5rem, 4.6vw, 5rem);
}

@media screen and (max-width: 430px) {
  .k-banner-container {
    width: 335px;
    white-space: pre-wrap;
    margin-bottom: -20px;
  }
}