@import '../../styles/setting';

.k-error {
  width: 86.11%;
}

.k-error, a {
  color: $red;
  text-align: center;
}

.k-error-404{
  font-size: clamp(10rem, 14vw, 22.8rem);
  font-weight: 700;
  margin-bottom: 10%;
  margin-top: 10%;
}

.k-error-text {
  font-weight: 500;
  font-size: clamp(2rem, 3vw, 3.6rem);
}

.k-error-link {
  line-height: 200px;
}